<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias type="logic.User" alias="User"/>
		<typeAlias type="logic.Shop" alias="Shop"/>
		<typeAlias type="logic.Board" alias="Board"/>
		<typeAlias type="logic.SearchInfo" alias="SearchInfo"/>
		<typeAlias type="logic.Message" alias="Message"/>
		<typeAlias type="logic.Best" alias="Best"/>
		<typeAlias type="logic.Recomment" alias="Recomment"/>
		<typeAlias type="logic.Subscription" alias="Subscription"/>
		<typeAlias type="logic.UploadFile" alias="UploadFile"/>
		<typeAlias type="logic.FoodDB" alias="FoodDB"/>
		<typeAlias type="logic.InfoCalendar" alias="InfoCalendar"/>
	</typeAliases>
	<mappers>
		<mapper resource="dao/mapper/User.xml"/>
		<mapper resource="dao/mapper/Shop.xml"/>
		<mapper resource="dao/mapper/Board.xml"/>	
		<mapper resource="dao/mapper/SearchInfo.xml"/>
		<mapper resource="dao/mapper/Message.xml"/>
		<mapper resource="dao/mapper/Best.xml"/> 
		<mapper resource="dao/mapper/Subscription.xml"/>
		<mapper resource="dao/mapper/Recomment.xml"/>
		<mapper resource="dao/mapper/FoodDB.xml"/>
		<mapper resource="dao/mapper/InfoCalendar.xml"/>
	</mappers>
</configuration>