.fakeimg {
	height: 200px;
	background: #aaa;
}

.main_title {
	border-bottom: 1px solid;
}

.main_logo {
	display: block;
	margin-left: auto;
	margin-right: 36%;
	width: 100px;
	height: 75px;
}
