  em.off {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    color: #777;
    width: 50px;
    font-size: 11px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -0.04em;
    }
    
  em.on {
    display: inline-block;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #e2614c;
    color: #e2614c;
    width: 50px;
    font-size: 11px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -0.04em;
	}	

 em.oning {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    color: green;
    width: 50px;
    font-size: 11px;
    text-align: center;
    vertical-align: top;
    letter-spacing: -0.04em;
    }
    
 .my-hr1 {
    border: 0;
    height: 4px;
    width : 1160px;
    background: linear-gradient(to right, #1ddb16, #ffbb00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #1ddb16, #ffbb00);
  }
.testgreen {
  display: inline-block;
  margin: 30px auto 0;
  font-family: 'Nanum Pen Script';
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.testgreen span {
  background: linear-gradient(to right, #1ddb16, #ffbb00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testred {
  display: inline-block;
  margin: 30px auto 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.testred span {
  background: linear-gradient(to right, #FF0000, #FFE08C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testbb span {
  background: linear-gradient(to right, #00D8FF, #D4F4FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testbb {
  display: inline-block;
  margin: 30px auto 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

	.circle {
		background: #fff;
		border-radius: 100%;
		width: 140px;
		height: 140px;
		line-height: 80px;
		text-align: center;
		margin:0 auto;
		overflow: hidden;
		transform: translateZ(0);
	}
	.circle:before, .circle:after {
		box-sizing: border-box;
		border-radius: 100%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
		box-shadow: 
			inset 150px 0 0 rgba(30, 140, 209, 0.2), 
			inset 0 150px 0 rgba(30, 140, 209, 0.2), 
			inset -150px 0 0 rgba(30, 140, 209, 0.2), 
			inset 0 -150px 0 rgba(30, 140, 209, 0.2);
		transition: box-shadow 0.5s, color 0.8s;
	}
	.circle:after {
		transform: rotate(45deg);
		
	}
	.circle:hover:after, .circle:hover:before {
		box-shadow: 
			inset 15px 0 0 rgba(255, 0, 0, 0.5), 
			inset 0 15px 0 rgba(252, 150, 0, 0.5), 
			inset -15px 0 0 rgba(0, 255, 0, 0.5), 
			inset 0 -15px 0 rgba(0, 150, 255, 0.5);
	}        				

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); 
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);


/* Base styling */

.search__input {
    width: 50%;
    padding: 6px 12px;
    background-color: transparent;
    transition: transform 200ms ease-in-out;
    font-size: 16px;
    line-height: 30px;
    color: #575756;
    background-color: transparent;
    background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
    background-repeat: no-repeat;
    background-size: 20px 9px;
    background-position: 95% center;
    border-radius: 40px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
        .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}


 ul{
    padding-left:0px;
    list-style:none;
    }
    
  .blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}



a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: blue; text-decoration: none;}


/*----------------------------
	Container & textbox
-----------------------------*/


#container{
	color: #555;
	font-size: 58px;
	margin: 0 auto;
	padding: 200px 0 100px;
	width: 650px;
	position:relative;
	min-height: 90px;
	
	font-family:'Open Sans Condensed',sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}

#container:before{
	content: ">";
	font-size: 50px;
	left: -40px;
	opacity: 0.25;
	position: absolute;
	text-shadow: 1px 1px 0 white;
	top: 210px;
}

#userText{
	background:none;
	border:none;
	border-bottom:1px solid #aaa;
	
	color: #777777;
    display: block;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 26px;
    margin: 0 auto 0px;
    padding: 10px;
    text-align: center;
    width: 300px;
    outline: none;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


@-webkit-keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}


@keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

.test {
  background: white;
  display: inline-block;
  padding: 1em;
  font-family: Helvetica Neue;
  border-radius: 4px;
  position: relative;
}
.test:before {
  -webkit-animation: sparkle 4s infinite linear;
          animation: sparkle 4s infinite linear;
  background: linear-gradient(90deg, #7FEFBD 0%, #FFF689 11%, #EC0B43 22%, #7FEFBD 33%, #FFF689 44%, #EC0B43 55%, #7FEFBD 66%, #FFF689 77%, #EC0B43 88%, #7FEFBD 100%);
  background-size: 300% 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
  -webkit-transform: scale(0.99) translateY(3px);
          transform: scale(0.99) translateY(3px);
}
.testgreen span {
   background: linear-gradient(to right, #1ddb16, #ffbb00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
@@ -312,8 312,99 @@
   -webkit-transform: scale(0.99) translateY(3px);
           transform: scale(0.99) translateY(3px);
 }
#paper {
	color:#FFF;
	font-size:20px;
}
#margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
#text {
	width:500px;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:16px;
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:100px;
	padding-top:45px;
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
#title {
	background-color:transparent;
	border-bottom:3px solid #FFF;
	color:#FFF;
	font-size:20px;
	font-family:Courier, monospace;
	height:28px;
	font-weight:bold;
	width:220px;
}
 
#wrapper {
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:24px;
	margin-bottom:100px;
}
 
input[type=submit]{
  margin-left: 0.5em;
  height: 2.5em;
  padding: 0.2em 1em 0.2em 2.25em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 17px 70px;
  border-radius: 2em;
  border: 0.15em solid #F9C23C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type="submit"]:hover {
    color: #fff;
    background-color: #EAA502;
    border-color: #EAA502;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input[type="submit"]:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}





    